/* Add media query for mobile styling later */

html, body, input, select, button, label, textarea, span, details, summary {
    cursor: url("DP.cur") 15 15, auto;
}

body {
    background: url("backgroundv1.jpg");
    background-size: 100%;
    margin: 0;
    margin-bottom: 8;
    /*background-repeat: no-repeat;
    background-color: powderblue;*/
}

/*Tools stuff*/
#toolBox {
    background-color: rgb(202, 202, 202);
    width: 37.5vw;
    display: inline;
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    border-top: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    padding-bottom: 1vh;
}

.darkBackground {
    background-color: rgb(53, 53, 53);
    text-align: center;
}

#titleLogo {
    width: 90%;
    display: inline;
    margin-right: 30px;
}

.darkBackground > h1 {
    color: white;
    display: inline;
}

#toolButtons {
    display: flex;
    justify-content: space-around;
}

#toolButtons button {
    width: 13%;
    max-width: 70px;
}

#toolButtons img {
    width: 100%;
    max-width: 60px;
}

#filterDetails {
    display: inline;
    margin: 0;
}

#filterSummary {
    font: 1em Arial, Sans-serif;
    border: 2px solid black;
    font-size: calc(5px + 0.9vw);
}

#topHalfFilterMenu {
    display: none;
    justify-content: space-around;
}

#topHalfFilterMenu > p {
    font-size: calc(7px + 0.9vw);
}   

#topHalfFilterMenu > select {
    position: relative;
    top: 1.85vh;
    width: 9vw;
    height: 2.5vw;

    text-align: center;
    font-size: calc(6px + 0.9vw);
    font-family: "Times New Roman", Times, serif; 
}  

#topHalfFilterMenu > input[type=text] {
    position: relative;
    top: 1.85vh;
    width: 9vw;
    height: 2vw;

    text-align: center;
    font-size: calc(6px + 0.8vw);
    font-family: "Times New Roman", Times, serif; 
}  */ 

#bottomHalfFilterMenu {
    display: none;
}

#bottomHalfFilterMenu > button {
    display: none;
    font-size: calc(5px + 0.7vw);
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}


/*Main sections*/
#main { 
    background-color: rgb(182, 1, 1);
    border: 1px solid black;
    width: 55.5vw;
    /*min-width: 550px;*/
    margin-top: 1vh;
    float: right;
    margin-right: 2vw;
    font-size: 1.5vw;
}

/*#main > h1 {

}*/

.content {
    text-align: center;
    background-color: rgb(202, 202, 202);
    border-top: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 2;
}

.alignRight {
    float: right;
}

/*
@media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }*/

.content > form {
    font-size: calc(7px + 0.9vw);
}

.content > form > label {
    display: inline-block
}

.content > form > input {
    font-size: calc(4px + 0.9vw);
}

/*----------------------------*/
/* Specific Form input areas */
#publisher, #continuity {
    width: 26%;
}

#series {
    width: 40%;
}

#numberType {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: calc(7px + 0.9vw);
    font-family: "Times New Roman", Times, serif; 
    border: white;
}

#number {
    width: 10%;
}

#name, #notes {
    width: 82%;
}

#name {
    width: 42%
}

#format {
    width: 28%;
    text-align: center;
    font-size: calc(6px + 0.9vw);
    font-family: "Times New Roman", Times, serif; 
}

#readLabel {
    margin-left: 1vw;
}

#read {
    margin-right: 1vw;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.formStar {
    position: relative;
    top: 1.1vh;
    width: 6%; 
}

.smallStar{
    position: relative;
    top: 1vh;
    width: 5%; 
}

#favoriteLabel {
    margin-left: 1vw;
}

#imgLink {
    width: 55%
}

.centeringDiv {
    width: 33%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.centeringDiv > button {
    font-size: calc(5px + 0.9vw);
    white-space: nowrap;
    text-overflow: clip;
}

.centeringDiv > input[type=number] {
    width: 4vw;
    height: 1.5vw;
    font-size: calc(4px + 0.9vw);
}

#addDividerBtn {
    height: 2vw;
}

#dividerTitleInput {
    height: 1.5vw;
}

/*----------------------------*/
/*---------------------------*/

/* MAIN SECTION FOR BOOKS */
.book {
    text-align: left;
}

details {
    margin-left: 3%;
    margin-right: 3%; /*Change units later to not use px*/
}

.insideDetails {
    background-color: rgb(185, 182, 182);
    padding: 10px;
    text-align: center;
}

summary {
    font-size: calc(10px + 0.9vw);
}

.leftSide {
    float: left;
    width: 49%;
    margin-bottom: 10px;
}

.rightSide {
    float: right;
    width: 49%;
    margin-bottom: 10px;
    border-left: 1px dashed black;
}

.insideDetails > span > img {
    display: inline;
    width: 75%;
}

.insideDetails p {
    color:rgb(99, 99, 99);
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
    font-size: calc(10px + 0.9vw);
}

.insideDetails > span > input[type=checkbox] {
    border: 1px solid rgb(141, 141, 141);
}

.smallStar {
    width: 10%;
    display: inline; 
}

.insideDetails > textarea {
    width: 99%;
    resize: vertical;
    font-size: 1.3vw;
    display: block;
    font-size: calc(10px + 0.9vw);
}

.posContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

#upDownContainer {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.posButtons {
    font-size: calc(5px + 0.9vw);
}

#up {
    background-color: aliceblue;
}

#down {
    background-color: aliceblue;
}

#delete {
    background-color: rgb(255, 61, 61);
}

.hidden {
    display: none;
}
  
/* CLASSES TO MAKE MODAL WORK */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
  
    background-color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;

    text-align: center;
}

@media screen and (max-width: 600px) {
    .modal {
      width: 40%;
    }
}
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.modal > img {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5px;
}

.modal > h1 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.modal > h3 {
    margin-top: 0px;
    margin-bottom: 12px;
    color:rgb(53, 53, 53)
}

.modal > button {
    /*text-align: right;*/
    font-size: 15px;
    color: white;
    border-radius: 5px;
}

.leftModalBtn {
    background-color: rgb(46, 184, 238);
}

.rightModalBtn {
    background-color: rgb(221, 56, 56);
}
/* -------------------------- */

/* Classes for marking as favorite */

.favoriteBook {
    background-color: rgb(224, 202, 1);
}

.favoriteBook > details > div {
    background-color: rgb(241, 227, 100);
}


